*{
  margin: 0;
}
body {
  margin: 0;
  color: #1F2D5C;
}
.mb-32px{
  margin-bottom: 30px;
}
section {
  padding: 80px;
  background: linear-gradient(#EDF2FE, #F7F9FF);
}

nav {
  display: flex;
  justify-content: center;
  gap: 34px;
  background-color: rgb(0, 62, 128);
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0px;
  padding: 24px;
}

a {
  color: white;
  text-decoration: none;
}

.presentation {
  display: flex;
  justify-content: center;
  p{
    margin-bottom: 24px;
  }
}
.cta{
  background-color: rgb(0, 62, 128);
  width: fit-content;
  padding: 7px 14px;
  border-radius: 2px;
}
.presentation div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 50px;
  width: 50%;
}

/*
.presentation p{
  width: 200px;
}
*/

.photo {
  border-radius: 50%;
  width: 30%;
  /*justify-content: left;*/
  margin: auto;
  gap: 34px;
}

/*
.pierre {
  display: flex;
  justify-content: right;
  margin: auto;
  gap: 34px;
}
*/
h1 {
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 16px;

}

h2 {
  font-weight: bold;
  font-family: "Rubik Wet Paint", system-ui;
  justify-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;

}

h3 {
  font-weight: bold;
  font-family: "Rubik Wet Paint", system-ui;
  justify-items: center;
  margin-bottom: 24px;
  font-size: 20px;
}
.soft-skills, .hard-skills{
  margin-bottom: 20px;
}
.hard-skill{
  margin-bottom: 16px;
}
h4 {
  font-weight: bold;
  font-family: "Rubik Wet Paint", system-ui;
  justify-items: center;
  margin-bottom: 18px;
  font-size: 18px;
}
h5{
  font-size: 20px;
  margin-bottom: 8px;
}
ul {

  font-family: "Rubik Wet Paint", system-ui;
}

p {
  font-family: "Rubik Wet Paint", system-ui;
}

.cv {
  background-color: rgb(0, 62, 128);
  width: fit-content;
  padding: 7px 14px;
  border-radius: 2px;
}

#projets {
}

.projet1 {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: auto;
  gap: 34px;
}

.image {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: auto;
  gap: 34px;
}

.linkedin img {
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: auto;
  gap: 34px;
}

.bouton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.envoyer {
  background-color: rgb(23, 0, 128);
  border: 3px solid white;
  margin: 8px 10px;
  padding: 8px 18px;
  color: aliceblue;
  border-radius: 5px;
}


/*button:hover {
  background-color: rgb(0, 255, 251);
}*/

i {
  color: rgb(248, 248, 249);
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}